<launch>

  <arg name="sensor1_type" default="mono"/>
  <arg name="sensor2_type" default="lidar"/>
  <arg name="sensor1_id" default="0"/>
  <arg name="sensor2_id" default="0"/>

  <node pkg="velo2cam_calibration" type="velo2cam_calibration" name="velo2cam_calibration" output="screen">
    <!-- lidar_pattern, mono_qr_pattern, stereo_pattern -->
    <remap from="~cloud1" to="$(arg sensor1_type)_pattern_$(arg sensor1_id)/centers_cloud"/>
    <remap from="~cloud2" to="$(arg sensor2_type)_pattern_$(arg sensor2_id)/centers_cloud"/>
    <param name="is_sensor1_cam" value="false" unless="$(eval sensor1_type == 'mono' or sensor1_type == 'stereo')"/>
    <param name="is_sensor2_cam" value="false" unless="$(eval sensor2_type == 'mono' or sensor2_type == 'stereo')"/>
    <param name="is_sensor1_cam" value="true" if="$(eval sensor1_type == 'mono' or sensor1_type == 'stereo')"/>
    <param name="is_sensor2_cam" value="true" if="$(eval sensor2_type == 'mono' or sensor2_type == 'stereo')"/>
    <param name="save_to_file" value="true"/>     <!-- center point dump -->

    <!-- SWAN: K and D -->
    <!--
    <param name="fx" value="1069.3499755859375"     />
    <param name="fy" value="1070.1400146484375"     />
    <param name="cx" value="966.22998046875"        />
    <param name="cy" value="524.6110229492188"      />
    
    <param name="k1" value="-1.0234500169754028"    />
    <param name="k2" value="2.4007298946380615"     />
    <param name="p1" value="0.09410110116004944"    />
    <param name="p2" value="0.00017518400272820145" />
    <param name="k3" value="0.0001761150051606819"  />
    -->

    <param name="fx" value="1069.35"     />
    <param name="fy" value="1070.14"     />
    <!--
    <param name="cx" value="1110.23"     />
    <param name="cy" value="605.611"     />
    -->
    <param name="cx" value="966.23"      />
    <param name="cy" value="524.611"     />
    <param name="k1" value="-0.0741713"  />
    <param name="k2" value="0.0610622"   />
    <param name="p1" value="0.000193037" />
    <param name="p2" value="0.000401291" />
    <param name="k3" value="-0.0260919"  />
    <!-- -->
  </node>
</launch>
